.app {
  height: 100vh;
}

.flex {
  display: flex;
}

.flex-1 {
  flex: 1;
}

.flex-direction-column {
  flex-direction: column;
}

.flex-justify-space-between {
  justify-content: space-between;
}

.type {
  width: 30px;
  height: 30px;
  border-radius: 4px;

  margin-right: 10px;

  border-width: 1px;
  border-style: solid;

  cursor: pointer;
}

.mr-10 {
  margin-right: 10px;
}

.mb-20 {
  margin-bottom: 20px;
}

.ml-20 {
  margin-left: 20px;
}

.type-1 {
  border-color: #f00;
}

.type-1--active {
  background: #f00;
}

.type-2 {
  border-color: #0f0;
}

.type-2--active {
  background: #0f0;
}

.type-3 {
  border-color: #00f;
}

.type-3--active {
  background: #00f;
}
